{% extends "base.html" %} {% block title %}Ferias — FeriApp{% endblock %}
{%block content %}
<div class="row mb-3">
    <div class="col">
        <h3>Ferias Activas</h1>
    </div>
    {% if request.user.is_superuser %}
    <div class="col text-end">
        <a href="{% url 'ferias:nueva_feria' %}" class="btn btn-primary">Crear Nueva Feria</a>
    </div>
    {% endif %}
</div>

<div class="table-responsive">
  <table class="table table-hover align-middle">
    <thead class="table-light">
      <tr>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Fechas</th>
        <th>Ubicación</th>
        <th>Puestos</th>
        {% if request.user.is_superuser %}
        <th>Acciones</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for feria in ferias %}
      <tr>
        <td class="fw-semibold">
          <a href="{% url 'ferias:detalle_feria' pk=feria.id %}">
            {{ feria.nombre }}
          </a>
        </td>
        <td>{{ feria.categoria }}</td>
        <td>{{ feria.fecha_inicio }} → {{ feria.fecha_fin }}</td>
        <td>{{ feria.ubicacion }}</td>
        <td>
          <!-- TODO: completar con puestos_ocupados() cuando implementen Inscripcion -->
          <span class="badge bg-secondary"
            >{{ feria.capacidad_puestos }} totales</span
          >
        </td>
        <td class="d-flex flex-column gap-2">
          {% if request.user.is_superuser %}
          {% comment "" %} Reemplazar por url de editar_feria {% endcomment %}
          <a
            href="{% url 'ferias:actualizar_feria' pk=feria.id %}"
            class="btn btn-sm btn-warning  w-100 h-100"
          >
            Editar
          </a>
          {% comment "" %} Reemplazar por url de borrar_feria {% endcomment %}
          <a
            href="{% url 'ferias:borrar_feria' pk=feria.id %}"
            class="btn btn-sm btn-danger w-100 h-100"
          >
            Borrar
          </a>
        </td>
      </tr>
      {% endif %}
      {% empty %}
      <tr>
        <td colspan="5" class="text-center text-muted">
          No hay ferias activas.
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
