{% extends "base.html" %}

{% block title %}Lista de Sectores{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Lista de Sectores</h1>
        {% if request.user.is_superuser %}
        <a href="{% url 'ferias:nuevo_sector' %}" class="btn btn-primary mb-3">Crear Nuevo Sector</a>
        {% endif %}
    </div>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edición</th>
                <th>Capacidad de Puestos</th>
                <th>Conexión Eléctrica</th>
                <th>Feria Asociada</th>
                {% if request.user.is_superuser %}
                <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for sector in sectores %}
            <tr>
                <a><td><a href="{% url 'ferias:detalle_sector' sector.id %}">{{ sector.nombre }}</a></td>
                <td>{{ sector.edicion }}</td>
                <td>{{ sector.capacidad_puestos }}</td>
                <td>{{ sector.tiene_conexion_electrica|yesno:"Sí,No" }}</td>
                <td>{{ sector.feria.nombre }}</td>
                {% if request.user.is_superuser %}
                <td class="d-flex flex-column gap-2">
                    <a href="{% url 'ferias:actualizar_sector' sector.id %}" class="btn btn-sm btn-warning w-100 h-100">Editar</a>
                    <a href="{% url 'ferias:borrar_sector' sector.id %}" class="btn btn-sm btn-danger w-100 h-100">Eliminar</a>
                </td>
                {% endif %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No hay sectores disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}