{% extends "base.html" %}
{% block title %}Nueva Categoría — FeriApp{%endblock%} 
{% block content %}
<h1>Crear Nueva Categoría</h1>
<div class="container mt-4">  
    <form method="post" class="row g-3">
        {% csrf_token %}
        {% for field in form  %}
        <div class="form-group">
            <div class="">
                {{ field.label_tag }}
            
                {{ field }}
            </div>
            {% if field.errors %}
                <div class="text-danger">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>    
        {% endfor %}
        
        <button type="submit" class="btn btn-primary">Crear Categoría</button>
    </form>
</div>
{% endblock %}
