<!-- prettier-ignore-start -->
{% extends "base.html" %} {% block title %}Iniciá sesión — FeriApp{%endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center flex-column gap-3">
  <h1>Bienvenido a FeriApp 🏪</h1>

  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-header">
            <h4>Introducí tu usuario y contraseña</h4>
          </div>
          <form
            class="d-flex justify-content-center align-items-center flex-column mt-3"
            method="post"
          >
            {% csrf_token %}
            <div class="mb-3">
              {{ form.username.label_tag }} {{ form.username }}
            </div>
            {% if form.username.errors %}
            <div class="text-danger">{{ form.username.errors }}</div>
            {%endif%}

            <div class="mb-3">
              {{ form.password.label_tag }} {{ form.password }}
            </div>
            {% if form.password.errors %}
            <div class="text-danger">{{ form.password.errors }}</div>
            {%endif%} {% if form.non_field_errors %}
            <div class="text-danger">{{ form.non_field_errors }}</div>
            {%endif%}
            <button type="submit" class="btn btn-success mb-3">
              Iniciar sesión
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!-- prettier-ignore-end -->
