{% extends "base.html" %} {% block title %}Crear cuenta — FeriApp{%endblock %}
{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center">
  <h2>Registrate como Emprendedor</h2>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-header text-center">
            <h5>Completá tus datos para crear tu cuenta</h5>
          </div>
          <form
            method="post"
            class="d-flex justify-content-center align-items-center flex-column mb-3 mt-3"
          >
            {% csrf_token %}
            <div class="mb-3">
              {{ form.username.label_tag }} {{ form.username }}
            </div>
            {% if form.username.errors %}
            <div class="text-danger">{{ form.username.errors }}</div>
            {%endif%}
            <div class="mb-3">{{ form.nombre.label_tag }} {{ form.nombre}}</div>
            {% if form.nombre.errors %}
            <div class="text-danger">{{ form.nombre.errors }}</div>
            {%endif%}
            <div class="mb-3">
              {{ form.apellido.label_tag }} {{ form.apellido}}
            </div>
            {% if form.apellido.errors %}
            <div class="text-danger">{{ form.apellido.errors }}</div>
            {%endif%}
            <div class="mb-3">{{ form.email.label_tag }} {{ form.email}}</div>
            {% if form.email.errors %}
            <div class="text-danger">{{ form.email.errors }}</div>
            {%endif%}
            <div class="mb-3">{{ form.rubro.label_tag }} {{ form.rubro}}</div>
            {% if form.rubro.errors %}
            <div class="text-danger">{{ form.rubro.errors }}</div>
            {%endif%}
            <div class="mb-3">
              {{ form.telefono.label_tag }} {{ form.telefono}}
            </div>
            {% if form.telefono.errors %}
            <div class="text-danger">{{ form.telefono.errors }}</div>
            {%endif%}
            <div class="mb-3">
              {{ form.password1.label_tag }} {{ form.password1}}
            </div>
            {% if form.password1.errors %}
            <div class="text-danger">{{ form.password1.errors }}</div>
            {%endif%}
            <div class="mb-3">
              {{ form.password2.label_tag }} {{ form.password2 }}
            </div>
            {% if form.password2.errors %}
            <div class="text-danger">{{ form.password2.errors }}</div>
            {%endif%} {% if form.non_field_errors %}
            <div class="text-danger">{{ form.non_field_errors }}</div>
            {%endif%}
            <button type="submit" class="btn btn-success">Registrarse</button>
          </form>
        </div>
      </div>
    </div>
    <div>{% endblock %}</div>
  </div>
</div>
