{% extends "base.html" %} {% block title %}Crear cuenta — FeriApp{%endblock %}
{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center">
  <h2>Registrate como Visitante</h2>

  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-header text-center">
            <h5>Completá tus datos para crear tu cuenta</h5>
          </div>
          <form
            method="post"
            class="d-flex flex-column justify-content-center align-items-center mt-3 mb-3"
          >
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="btn btn-success">Registrarse</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
