{% extends "base.html" %} {% block title %}Crear cuenta — FeriApp{%endblock %}
{% block content %}
<div
  class="container d-flex flex-column justify-content-center align-items-center mt-5"
>
  <h1 class="text-center">Elegí tu tipo de cuenta</h1>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-header text-center">
            <h2>¿Como querés registrate?</h2>
          </div>
          <div
            class="d-flex gap-5 justify-content-center align-items-center mt-3 mb-3"
          >
            <a
              href="{% url 'usuarios:registro_emprendedor' %}"
              class="text-decoration-none text-white btn btn-primary btn-lg p-3"
              >Soy Emprendedor</a
            >

            <a
              href="{% url 'usuarios:registro_visitante' %}"
              class="text-decoration-none text-white btn btn-primary btn-lg p-3"
              >Soy Visitante</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
